<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>daily_1tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,362},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_2tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,326},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_3tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,326},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_4tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,234},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_5tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,234},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_6tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,234},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_7tian.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,198},{90,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{92,36}</string>
		</dict>
		<key>daily_anniu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,278},{202,64}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,64}}</string>
			<key>sourceSize</key>
			<string>{204,64}</string>
		</dict>
		<key>daily_anniu2.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,74},{202,64}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,64}}</string>
			<key>sourceSize</key>
			<string>{204,64}</string>
		</dict>
		<key>daily_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,28},{296,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{296,42}}</string>
			<key>sourceSize</key>
			<string>{296,44}</string>
		</dict>
		<key>daily_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,2},{76,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{76,70}}</string>
			<key>sourceSize</key>
			<string>{76,76}</string>
		</dict>
		<key>daily_dlg_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,28},{132,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,380}}</string>
			<key>sourceSize</key>
			<string>{132,380}</string>
		</dict>
		<key>daily_gougou.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,162},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>daily_heise.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,326},{144,150}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,150}}</string>
			<key>sourceSize</key>
			<string>{144,152}</string>
		</dict>
		<key>daily_huangse.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{150,156}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,156}}</string>
			<key>sourceSize</key>
			<string>{152,156}</string>
		</dict>
		<key>daily_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{150,156}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,156}}</string>
			<key>sourceSize</key>
			<string>{152,156}</string>
		</dict>
		<key>daily_lingqujiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,162},{146,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{146,38}}</string>
			<key>sourceSize</key>
			<string>{148,40}</string>
		</dict>
		<key>daily_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,162},{96,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,34}}</string>
			<key>sourceSize</key>
			<string>{96,36}</string>
		</dict>
		<key>daily_zi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{424,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,24}}</string>
			<key>sourceSize</key>
			<string>{424,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dailylogin.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a59581978ff232964b7dbc5f4617032a:1/1$</string>
		<key>textureFileName</key>
		<string>dailylogin.png</string>
	</dict>
</dict>
</plist>
