<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_help0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{129,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,165}}</string>
                <key>sourceSize</key>
                <string>{129,165}</string>
            </dict>
            <key>red_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,165}}</string>
                <key>sourceSize</key>
                <string>{129,165}</string>
            </dict>
            <key>red_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,336},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
            <key>red_help3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
            <key>red_lose0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,159},{113,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,127}}</string>
                <key>sourceSize</key>
                <string>{113,127}</string>
            </dict>
            <key>red_lose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{113,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,127}}</string>
                <key>sourceSize</key>
                <string>{113,127}</string>
            </dict>
            <key>red_lose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{113,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,127}}</string>
                <key>sourceSize</key>
                <string>{113,127}</string>
            </dict>
            <key>red_movedown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,193},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>red_movedown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,117},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>red_moveright0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,230},{66,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{66,87}</string>
            </dict>
            <key>red_moveright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{67,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,85}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
            <key>red_moveup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,416},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>red_moveup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,416},{73,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,89}}</string>
                <key>sourceSize</key>
                <string>{73,89}</string>
            </dict>
            <key>red_standdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,298},{77,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>red_standright.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,298},{65,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,86}}</string>
                <key>sourceSize</key>
                <string>{65,86}</string>
            </dict>
            <key>red_standup.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,71},{77,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>red_win0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,117},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>red_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,288},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87654d197ac590ee9248885f90423360:4f9ada18c442f49eb61b2b9fa50ff093:1e39cfd51898951b5ed824f58acb51cc$</string>
            <key>textureFileName</key>
            <string>red.png</string>
        </dict>
    </dict>
</plist>
