<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_movedown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,105},{111,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>yellow_movedown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>yellow_moveright0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{75,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,105}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>yellow_moveright1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{74,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>yellow_moveup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>yellow_moveup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>yellow_standdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,293},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>yellow_standright.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,217},{74,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,109}}</string>
                <key>sourceSize</key>
                <string>{74,109}</string>
            </dict>
            <key>yellow_standup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a8d65d766c6df490ffa3bf42d47450:6d2dd4e22bd7b1c0f4fc34b35f5f88aa:e80215f0cff490d0d22ceb7aa6a7cd7d$</string>
            <key>textureFileName</key>
            <string>yellow.png</string>
        </dict>
    </dict>
</plist>
