<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NameBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1974},{162,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,58}</string>
            </dict>
            <key>PlayerInfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{632,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,115}}</string>
                <key>sourceSize</key>
                <string>{632,115}</string>
            </dict>
            <key>begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{327,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,112}}</string>
                <key>sourceSize</key>
                <string>{327,112}</string>
            </dict>
            <key>lobbyBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1336,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1336,640}}</string>
                <key>sourceSize</key>
                <string>{1336,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a3a312aa789ef78a4cc54719cec49d:7bef42265d10a6609b4c9166be8a5184:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
